{% extends 'master.twig' %}

{% block title %}Benutzer{% endblock %}

{% block content %}

    <div class="well">
        <h1>Benutzer&uuml;bersicht</h1>

        <nav>
            <a href="/backend/users/new" class="btn btn-primary">add user</a>
        </nav>
        <table class="table table-striped">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Rechte</th>
                <th>Optionen</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.getFirstname() }}</td>
                    <td>{{ user.getLastname() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>{{ user.getRole() }}</td>
                    <td>
                        <form action="/backend/users/{{ user.getId() }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button class="btn btn-danger" type="submit" value="submit">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}