{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <div class="well">
        <h1>Bestell&uuml;bersicht</h1>

        <table class="table table-striped">
            <tr>
                <th>Kunde</th>
                <th>Summe</th>
                <th>Datum</th>
                <th>Status</th>
                <th>Optionen</th>
            </tr>

            {% for order in orders %}
                <tr>
                    <td>{{ order.getUser().getFirstname() }} {{ order.getUser().getLastname() }}</td>
                    <td>{{ order_sum(order.getId()) }}</td>
                    <td>{{ order.datetime().format("Y-m-d H:i:s") }}</td>
                    <td>{{ order.getStatus() }}</td>
                    <td>
                        <!-- delete -->
                        <form action="/backend/orders/{{ order.getId() }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <!-- show -->
                            <a class="btn btn-primary" href="/backend/orders/{{ order.getId() }}">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </a>
                            <button class="btn btn-danger" type="submit" value="submit">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>


                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}