{% extends 'master.twig' %}

{% block title %}Willkommen {% endblock %}

{% block content %}

    <div class="well">

        <h1>Produkte</h1>

        <table class="table">
            <tr>
                <th>pic</th>
                <th>name</th>
                <th>beschreibung</th>
                <th>preis/kg</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>
                        <img src="/templates/img/{{ product.getImg() }}" />
                    </td>
                    <td>{{ product.getName() }}</td>
                    <td>{{ product.description() }}</td>
                    <td>{{ product.getUnitPrice() }}</td>
                </tr>
            {% endfor %}

        </table>

        <h1>Warenkorb</h1>

        <h1>Bestellungen der letzten 24h</h1>

        <table class="table">
            <tr>
                <th>products</th>
                <th>amount</th>
                <th>operations</th>
            </tr>

            {% for order in orders %}
                <tr>
                    <td>
                        <ul>
                        {% for position in order.getOrderPositions() %}
                            <li>
                                {{ position.getQuantity() }} x
                                {{ position.getProduct().getName() }}
                            </li>

                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ order_sum(order.getId()) }}</td>
                    <td>
                        <form action="/orders/{{ order.getId() }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button class="btn btn-danger" type="submit" value="submit">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}