{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <h1>Order overview</h1>

    <p>ID: {{ order.getId() }}</p>
    <p>Date: {{ order.datetime().format("Y-m-d H:i:s") }}</p>
    <p>total: {{ order_sum(order.getId()) }}</p>

    <table>
        <tr>
            <th>product</th>
            <th>quantity</th>
            <th>total</th>
        </tr>

        {% for position in order.getOrderPositions() %}
            <tr>
                <td>{{ position.getProduct().getName() }}</td>
                <td>{{ position.getQuantity() }}</td>
                <td>{{ order_sum(order.getId()) }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}